<h1>Update your account</h1>
{{#each errors}}
<div>
    <p>{{text}}</p>
</div>
{{/each}}
<form action="/user/config" method="POST">
<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" maxlength="40" value={{name}}>
</div>
<div>
    <label for="password">Your Actual Password</label>
    <input type="password" name="password" id="name" placeholder="Your actual password" maxlength="40" value={{password}}>
</div>
<div>
    <label for="password2">New Password</label>
    <input type="password" name="password2" id="name" placeholder="New Password" maxlength="40" value={{password2}}>
</div>
    <label for="password3">Repeat The New Password</label>
    <input type="password" name="password3" id="name" placeholder="Repeat the new password" maxlength="40" value={{password3}}>
<input type='submit' value='Update'>
</form>

<p><a href="/dashboard">Dashboard</a></p>